rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /clinics/kid {
      allow read, write: if true;
    }

    match /clinics/kid/{document=**} {
      allow read, write: if true;
    }

    match /clinicSettings/kid {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
