rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /clinics/{clinicId} {
      allow read, write: if clinicId in ['kid', 'lungs'];

      match /clinicSettings/{settingId} {
        allow read, write: if clinicId in ['kid', 'lungs'];
      }

      match /patients/{patientId} {
        allow read, write: if clinicId in ['kid', 'lungs'];
      }

      match /pendingPatients/{pendingPatientId} {
        allow read, write: if clinicId in ['kid', 'lungs'];
      }

      match /history/{historyId} {
        allow read, write: if clinicId in ['kid', 'lungs'];
      }

      match /prescription/{sectionId} {
        allow read, write: if clinicId in ['kid', 'lungs'];
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
