rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /clinics/{clinicId} {
      allow read, write: if clinicId == 'kid' || clinicId == 'lungs';
    }

    match /clinics/{clinicId}/{document=**} {
      allow read, write: if clinicId == 'kid' || clinicId == 'lungs';
    }

    match /clinicSettings/{settingId} {
      allow read, write: if settingId == 'kid' || settingId == 'lungs';
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
