rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /chart-pdfs/{patientId}/{fileName} {
      allow read, write: if true;
    }

    match /prescriptions/{patientId}/{fileName} {
      allow read, write: if true;
    }

    match /prescription-previews/{patientId}/{fileName} {
      allow read, write: if true;
    }

    match /{path=**} {
      allow read, write: if false;
    }
  }
}
